/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

body{
  background-color: #FAFAFA;
}
.navbar-brand{
  list-style:none;
}
.navbar-brand a {
    color: #9d9d9d;
    text-decoration: none;
}
.navbar-brand a {
    background-color: transparent;
}

div.PhotoBox {
   float: left;              /* A1 */
   position: relative;       /* A2 */
   overflow: hidden;         /* A3 */
   margin: 0px 4em 4em 0px;/* A4:隣接画像との余白量 */
   width: 300px;            /* A5:画像の横幅 */
   height: 280px;           /* A6:画像の高さ */
}

div.PhotoBox div.SlideBox {
   position: absolute;       /* B1 */
   left: 0px;                /* B2 */
   top: 200px;              /* B3:画像の高さに合わせる */
   width: 300px;            /* B4:画像の横幅に合わせる */
   height: 280px;            /* B5:スライドして重ねる領域の高さ */
   background-color: black; /* B6:スライドして重ねる領域の背景色 */
   color: white;            /* B7:スライドして重ねる領域の文字色 */
   opacity: 0.7;            /* B8:スライドして重ねる領域の透明度 */
}

div.PhotoBox div.SlideBox p.Caption {
   font-weight: bold; /* 文字の太さ */
   font-size: 90%;    /* 文字サイズ */
   margin: 0.5em;     /* 周囲の余白量 */
}

/* 詳細削除編集ボタンの位置 */
li.Caption{
   list-style:none;
   float:left;
   padding-top: 50px;
   padding-left: 5px;
}

ul.Caption2 {
   float:right;
   right: 50%;
}

li.Caption2 {
   list-style:none;
   right:-50%;
   padding-top: 0px;
}

.btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
}
